@font-face {
  font-family: Helvetica-Neue;
  src: url("/assets/font/helvetica/HelveticaNeue-Regular.otf")
    format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Regular;
  src: url("/assets/font/helvetica/HelveticaNeue-Regular.otf")
    format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Thin;
  src: url("/assets/font/helvetica/HelveticaNeue-Thin.otf") format("opentype");
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Light;
  src: url("/assets/font/helvetica/HelveticaNeue-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Medium;
  src: url("/assets/font/helvetica/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Bold;
  src: url("/assets/font/xdfont/helvetica-neue-bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Light-Arabic;
  src: url("/assets/font/xdfont/HelveticaNeueLT-Arabic-55-Roman.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Bold-Arabic;
  src: url("/assets/font/xdfont/HelveticaNeueLT-Arabic-75-Bold.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Arabic;
  src: url("/assets/font/HelveticaNeueLT Arabic 55 Roman.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Regular-Arabic;
  src: url("/assets/font/HelveticaNeueLT Arabic 55 Roman.ttf")
    format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Thin-Arabic;
  src: url("/assets/font/HelveticaNeueLT Arabic 55 Roman.ttf")
    format("truetype");
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Light-Arabic;
  src: url("/assets/font/HelveticaNeueLT Arabic 55 Roman.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Medium-Arabic;
  src: url("/assets/font/HelveticaNeueLT\ Arabic\ 55\ Roman.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Helvetica-Neue-Bold-Arabic;
  src: url("/assets/font/HelveticaNeueLT\ Arabic\ 75\ Bold.ttf")
    format("truetype");
  font-display: swap;
}
